.header {
  background: var(--primary-color);
  // border-bottom: 1px solid #ececec;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

/* logo */

/* nav links */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  &:not(:first-child) {
    margin-left: 50px;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding: 32px 0;
  
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link--current {
  color: var(--accent-color);
  &::after {
    position: absolute;
    content: '';
    
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.contacts {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.contacts__item {
  // color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__item-header {
  &:not(:first-child) {
    margin-left: 50px;
  }
}

.contacts__mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  &:hover &:focus {
    fill: var(--accent-color);
  }
}

.contacts__smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  &:hover &:focus {
    fill: var(--accent-color);
  }
}

.contacts__link {
  color: var(--secondary-text-color);
  padding: 32px 0;
  font-size: 14px;
  line-height: 1.4px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  font-weight: 500;
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
