  .projects {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  .projects__link {
    display: block;
    transition: box-shadow 250ms var(--timing-function);
    &:focus .projects__overlay,
    &:hover .projects__overlay {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
      transform: translateY(0);
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .projects__item {
    // @media screen and (min-width: 480px) and (max-width: 767px) {
    //   width: 450px;
    //   height: 404px;
    // }
  
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      // height: 440px;
      margin: 15px;
    }
  
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 3 - 30px);
      // height: 404px;
    }
  
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }

  .projects__wrap {
    position: relative;
    overflow: hidden;
  }

  .projects__overlay {
    position: absolute;
    height: 100%;
    padding: 63px 24px;
    top: 0;
    left: 0;
    transform: translateY(100%);
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    background-color: var(--overlay-color);
    transition: transform 250ms var(--timing-function);
    @media screen and (max-width: 479px) {
      overflow-y: scroll;
      padding: 24px;
    }
  }

  .projects__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  
    color: var(--primary-text-color);
  
    margin-bottom: 4px;
  }

  .projects__title-box {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-grow: 1;
    }
  }

  .projects__text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }

  .projects__img {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 354px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 370px;
    }
  }